<style>
    h1{
        text-align: center;
    }


    table{
        position: relative;
        left: 40%;
        text-align: center;
        
    }

 input{
    position: relative;
    
    left: 70%;
 }

 .button:hover{
    background-color: green;
    color: white;
  
 }

input:hover{
    background-color: dimgray;

}
</style>
<h1>ingresar datos del paciente</h1>

<table>
<form action="/add_pac/" method="post">

    {% csrf_token %}
    {{form.as_table}}
    <input type="submit" value="ingresar datos " class="button">
</form>

</table>

